.page {
    height: 100vh;
    margin-bottom: 20vw;
    /* border: 1px solid red; */
}

h1 {
    font-size: 4rem;
    padding-bottom: 5vh;
}

img {
    width: 100%;
}

.bottom {
    margin-bottom: 0;
    text-align: center;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left:  20vw;
    padding-right: 20vw;
    font-size: 2.5rem;
}


